services:
  victorialogs:
    image: victoriametrics/victoria-logs:v1.36.0
    ports:
     - 9428:9428
    networks:
      - grafana-network
  grafana:
    build:
      context: .config
      args:
        grafana_version: main
        grafana_image: grafana
        development: true
    ports:
      - 3000:3000/tcp
    environment:
      GF_DEFAULT_APP_MODE: development
      GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS: victoriametrics-logs-datasource
    volumes:
      - ./provisioning:/etc/grafana/provisioning
      - ./.grafana:/var/lib/grafana
      - ./plugins/victoriametrics-logs-datasource:/var/lib/grafana/plugins/victoriametrics-logs-datasource
    networks:
      - grafana-network

networks:
  grafana-network:
    driver: bridge
