services:
  # Generate some logs for testing, in JSON format
  flog-json:
    image: mingrammer/flog:latest
    command: ["flog", "-f", "json", "--number", "36000", "--sleep", "100ms"]
  # Run Grafana Alloy to collect logs from Docker and forward them to VictoriaLogs
  alloy:
    image: grafana/alloy:latest
    privileged: true
    ports:
      - 12345:12345
      - 4317:4317
      - 4318:4318
    volumes:
      - ./.alloy/config.alloy:/etc/alloy/config.alloy:ro
      - /proc:/rootproc:ro
      - /var/run/docker.sock.raw:/var/run/docker.sock
      - /sys:/sys:ro
      - /:/rootfs:ro
      - /dev/disk/:/dev/disk:ro
      - /var/lib/docker/:/var/lib/docker:ro
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    extra_hosts:
      - "host.docker.internal:host-gateway"
    devices:
      - /dev/kmsg
  socks-proxy:
    image: serjs/go-socks5-proxy
    restart: always
    environment:
      REQUIRE_AUTH: "false"
  victorialogs:
    image: victoriametrics/victoria-logs:v1.26.0
    ports:
     - 9428:9428
  grafana:
    build:
      context: .config
      args:
        grafana_version: main
        grafana_image: grafana
        development: true
    ports:
      - 3000:3000/tcp
    environment:
      GF_AUTH_ANONYMOUS_ORG_ROLE: Admin
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_BASIC_ENABLED: "false"
      GF_DEFAULT_APP_MODE: development
      GF_FEATURE_TOGGLES_ENABLE: secureSocksDSProxyEnabled
      GF_SECURE_SOCKS_DATASOURCE_PROXY_ENABLED: true
      GF_SECURE_SOCKS_DATASOURCE_PROXY_PROXY_ADDRESS: socks-proxy:1080
      GF_SECURE_SOCKS_DATASOURCE_PROXY_ALLOW_INSECURE: true
    volumes:
      - ./plugins/victoriametrics-logs-datasource:/var/lib/grafana/plugins/victoriametrics-logs-datasource
      - ./provisioning:/etc/grafana/provisioning
